:markdown
  Dear #{user.name || user.username},

  The developer working on the feature "#{feature.name}" has marked the feature
  as "#{feature.state}". We have initiated a refund of your pledge of #{money balance, user}
  and you should see the amount credited to your account soon.

  If you have any questions or comments regarding the feature please go to http://fundry.com/feature/#{feature.slug}

  Sincerely,

  The Fundry Geek Squad
